@model IEnumerable<ContactsApp.Models.Contact>
@{
    ViewBag.Title = "ManageContacts";
}

<div class="nav navbar-nav navbar-right" style="font-size:20px;">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @ContactsApp.Controllers.HomeController.LoggedEmail
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Log out", "Logout", "Home")</li>
        </ul>
    </li>
</div>

<h2>ManageContacts</h2>


<p>
    @Html.ActionLink("Add new contact", "Create")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            Category
        </th>
        <th>
            Subcategory
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Date Of Birth
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category1.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategory1.SubcategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

